@import url('https://fonts.cdnfonts.com/css/rawline');

p, h1, h2, h3 {
    font-family: 'Rawline', sans-serif;                                              
}

html {
    scroll-behavior: smooth;
}

Header, Footer {
    z-index: 2;
}

body {
    margin: 0;
}

header {
    background-color: #264B37;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
}

/* Customize logo_button-header and logo image size */
#logo-button-header {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #264B37;
    font-size: 1.1em;
    font-weight: bold;
}

#logo-button-header img {
    width: 20em;
}

/* Customize the arrangement of header elements */
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    gap: 6em;
    margin-bottom: -3.2em;
}

/* Customize search bar */
#search-bar {
    background-color: #ffffff;
    padding: 0.7em 2em 0.7em 2em;
    border-radius: 3em;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

/* Customize magnifier image */
#search-bar img {
    width: 1.5em;
}

/* Customize input text */
input {
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    opacity: 0.7;
    outline: none;
}

/* Customize search button "Buscar" */
#search-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #264B37;
    font-size: 1.1em;
    font-weight: bold;
}

#search-button:hover {
    opacity: 0.8;
}

/* Customize button to be done within the image limits */
#cart-button, #sign-in-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    text-decoration: none;
}

/* Customize categories */
#categories {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

#category {
    display: flex;
    padding: 1em 3em 1em 3em;
    font-size: 1.3em;
    color: #ffffff;
    text-decoration: none;
    font-size: bold;
}

/* BANNER to base.html */
#banner {
    background-color: #264B37;
    border-radius: 8px;
    height: 250px;
    display: flex;
    padding: 1em 10em 1em 13em;
    margin: 1em 0 1em 0;
    justify-content: space-between;
    align-content: center;
    gap: 15em;
}

#banner p, #banner h2 {
    color: #ffffff;
}

#banner h2 {
    padding-bottom: 1em;
}

#banner img {
    padding: 2em;
    width: 18em;
}

/* FOOTER to base.html */
iframe {
    width: 100%;
}

/* Customize the container_footer */
#container-footer {
    background-color: #264B37;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 13em 1em 13em;
    align-items: flex-start;
}

/* Customize the text color of h2 and p */
#container-footer h2, #container-footer p {
    color: #ffffff;
}

#container-footer p {
    font-size: 1em;
}

/* Customize when there is icon and text together */
.contact {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 1.1em;
    gap: 1em;
}

.contact-text {
    font-size: 3rem;
}

/* Customize icon sizes */
.contact-icons {
    width: 3em;
}

/* Customize logo button to home page */
#logo-button-footer {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #264B37;
    font-size: 1.1em;
    font-weight: bold;
}

#logo-button-footer img {
    width: 18em;
}

/* Customize logo size */
#container-footer a:hover, #logo-button-footer:hover, #cart-button:hover, #sign-in-button:hover, #logo-button-header:hover, #whatsapp-icon:hover {
  opacity: 0.6;
}

#container-footer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 0.8em;
}

.content-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Floating WhatsApp Icon */
#floating-icon {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

#whatsapp-icon {
    position: fixed;
    bottom: 1em;
    right: 0.6em;
    width: 5em;
    height: 5em;
    z-index: 999;
    cursor: pointer;
}

/* PRODUCTS */
/* Setting margins  */
#category_products {
    margin: 1em 0 3em 0;
}

/* Defining that products from each category are together */
#products_by_category {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#product_card {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    border: 1px #333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin: 5px;
    padding: 1em;
    width: 20%;
    height: 22em;
    cursor: pointer;
}

#product_card img {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Defining category  */
.category {
    text-align: left;
    margin: 2em 0 1.5em 0;
    color: #264B37;
}

/* Line below the category name */
.category::after {
    content: "";
    display: block;
    width: 3em; 
    height: 0.3em;
    background-color: #264B37; 
    margin-top: 0.3em;
}

#division_of_categories {
    position: relative;
    text-align: center;
    margin-top: 2em;
}

#division_of_categories::after {
    content: "";
    display: block;
    width: 100%; 
    height: 0.3em;
    background-color: #264B37;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}

#division_of_categories button {
    position: relative;
    z-index: 1; 
    background-color: #264B37;
    color: #ffffff;
    border: none;
    padding: 0.5em 2em;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer; 
    border-radius: 0.5em; 
}

#division_of_categories button:hover {
  opacity: 0.98;
}

#product_information p{
    color: #264B37;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

#add_to_cart {
    background-color: #264B37;
    border: 1px solid #264B37;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8em;
    cursor: pointer;
    padding: 0.3em 1em 0.3em 1em;
}

#add_to_cart:hover {
  opacity: 0.9;
}

#cart_component {
    display: flex;
    align-items: center;
}

#cart_component img {
    width: 2em;
    height: 2em;
    border-radius: 0;
    padding: 0.2em 1.2em 0.2em 1.2em;
}

#cart_component p {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 1em 0 0;
}

/* SHOPPING CART */
#container {
    background-color: #264B37;
    border-radius: 8px;
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;

}

#ordered_products {
    padding: 1em;
    border-radius: 8px;
    width: 100%;
}

#no_product_added {
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em 1em 2.3em 1em;
    border-radius: 8px;
}

.home_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    height: 4em;
}

.home_page img {
    width: 2em;
}

.product_added {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 1em;
    padding: 1em;
}

#product_information p {
    margin: 0.2em 0;
    font-size: 1em;
    line-height: 1.2; 
    text-align: left;
    padding-left: 1em;
}

#product_information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_gray {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
}

.text_green {
    font-weight: bold;
    color: #264B37;
}

#amount img {
    width: 2em;
    height: 2em;
}

#amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#amount button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#product_information {
    flex-direction: column;
    display: flex;
    align-content: left;
}

#product_image {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#order_information {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2em;
    margin: 1em;
    width: 35%;
}