{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div id="register-block">
    <h2>Cadastro ao sistema</h2>

    <form>
        {% csrf_token %}
        
        <!-- Campo Nome -->
        <div class="form-field">
            <label for="nome">Nome</label>
            <input type="nome" id="nome" name="nome" placeholder="Digite seu nome completo" required>
        </div>
        
        <!-- Campo Email -->
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email para cadastrar" required>
        </div>

        <!-- Repetir Email -->
        <div class="form-field">
            <label for="confirm-email">Confirmar Email</label>
            <input type="email" id="confirm-email" name="confirm_email" placeholder="Repita o email cadastrado" required>
        </div>

        <!-- Campo Senha -->
        <div class="form-field">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha de segurança" required>
        </div>

        <!-- Repetir Senha -->
        <div class="form-field">
            <label for="confirm-password">Confirmar Senha</label>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Repita a senha informada" required>
        </div>

        <!-- Botão de Cadastro -->
        <div id="login-button-sign-in">
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <!-- Link para Login -->
    <div>
        <a href="{% url 'login' %}" id="login-to-register">
            Já possui conta? Faça o login
        </a>
    </div>
</div>

{% endblock %}
