{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<!-- Se encontrar produtos -->
{% if results %}
    <div id="product_found">
        <h2>Resultados da Pesquisa: "{{ query }}"</h2>
        <div id="order_products">
            {% for product in results%}
                <div id="product_card" class="product">
                    <img src="{{ product.image }}" alt="{{ product.name }}">

                    <div id="product_information">
                        <p id="product">{{ product.name }} - {{ product.unit }}</p>
                        <p>R${{ product.price }}</p>
                    </div>

                    <button id="add_to_cart">
                        <div id="cart_component">
                            <img src="{% static 'img/cart.png' %}" alt="Imagem carrinho de compras"/>
                            <p>Adicionar</p>
                        </div>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <!-- Se não encontrar produtos -->
    <div id="no_product_found">
        <h2>Nenhum produto encontrado para a pesquisa "{{ query }}"</h2>
        <div>
            <a href="{% url 'home' %}" id="home_page">
                <img src="{% static 'img/return.png' %}" alt="Seta para voltar à tela inicial">
                <p>Volte para página inicial</p>
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}
