{% extends 'base/base.html' %}

{% load static %}

{% block content %}
    <div id="container">
        <!-- Left side: responsible for showing the user the selected products -->
        <div id="ordered_products">
            {% if items %}
                {% for item in items %}
                    <div class="product_added">
                        <!-- Product image -->
                        <img id="product_image" src="{{ item.product.image }}" alt="Imagem do produto {{ item.product.name }}">

                        <!-- Product information -->
                        <div id="product_information_shopping_cart">
                            <p class="text_green">{{ item.product.name }}</p>
                            <p class="text_gray">{{ item.quantity }}</p>
                            <p class="text_green">R${{ item.product.price|floatformat:2 }}</p>
                        </div>

                        <!-- Quantity adjustment -->
                        <div id="amount">
                            <!-- Decrease quantity -->
                            <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn_adjust_quantity">
                                    <img src="{% static 'img/subtraction.png' %}" alt="Reduzir quantidade">
                                </button>
                            </form>

                            <!-- Current quantity -->
                            <p class="current_quantity">{{ item.quantity }}</p>

                            <!-- Increase quantity -->
                            <form method="POST" action="{% url 'add_to_cart' item.product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn_adjust_quantity">
                                    <img src="{% static 'img/sum.png' %}" alt="Aumentar quantidade">
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <!-- Empty cart message -->
                <div id="no_product_added">
                    <h2>Nenhum produto adicionado no seu carrinho!</h2>
                    <div>
                        <a href="{% url 'home' %}" class="shopping_cart_to_home_page">
                            <img src="{% static 'img/return.png' %}" alt="Seta para voltar à tela inicial">
                            <p>Comece a escolher</p>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Right side: responsible for showing the form and confirming the order -->
        <div id="order_information">
            <form action="">
                <label class="main_label" for="name">Nome</label>
                <input type="text" class="input-text-shopping-cart" id="name" placeholder="Digite seu nome" v-model="name" required>

                <label class="main_label" for="tel_number">Telefone de contato</label>
                <input type="tel" id="tel_number" placeholder="(99)99999-9999" v-model="tel_number" required>

                <h3>Tipo de pagamento</h3>
                <div id="payment">
                    <div class="payment_info">
                    <input type="radio" name="payment" id="payment_card" value="card" v-model="payment">
                    <label for="payment_card">Pagamento com cartão</label>
                    </div>

                    <div class="payment_info">
                    <input type="radio" name="payment" id="payment_cash" value="cash" v-model="payment">
                    <label for="payment_cash">Pagamento com dinheiro</label>
                    </div>
                </div>

                <div id="delivery">
                    <h3>Informações de entrega</h3>
                    <div class="delivery_choice">
                        <input type="radio" name="delivery" id="pickup" value="pickup" v-model="delivery">
                        <label for="pickup">Retirada na loja</label>
                    </div>
        
                    <div class="delivery_choice">
                        <input type="radio" name="delivery" id="delivery" value="delivery" v-model="delivery">
                        <label for="delivery">Entrega</label>
                    </div>

                    <div v-if="delivery === 'delivery'">
                        <label for="address">Endereço da entrega</label>
                        <input type="text" class="input-text-shopping-cart" name="address" id="address" v-model="address" placeholder="Digite o endereço da entrega">
                    </div>
                </div>
            </form>

            <h2>Resumo da compra</h2>
            <div class="elements_side_by_side">
                <p>Subtotal</p>
                <p>R$ {{ total|floatformat:2 }}</p>
            </div>

            <div class="elements_side_by_side">
                <p>Entrega</p>
                <p>Gratuita</p>
            </div>

            <div class="elements_side_by_side">
                <h3>Total</h3>
                <h3>R$ {{ total|floatformat:2 }}</h3>
            </div>

            <div class="elements_side_by_side">
                <a href="{% url 'home' %}" class="shopping_cart_to_home_page">
                    <p>Continue comprando</p>
                </a>

                <button id="finalize_order">
                    Finalizar pedido
                </button>
            </div>
        </div>
        <OrderModal v-if="showOrderModal" @close="showOrderModal = false" @submit="submitOrder"/>
    </div>
{% endblock %}
