{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div id="login-block">
    <h2>Acesso ao sistema</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            Seu nome de usuário e senha não coincidem. Por favor, tente novamente.
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}

        <!-- Campo Email -->
        <div class="form-field">
            <label for="id_username">Usuário</label>
            <input type="text" id="id_username" name="username" placeholder="Ex. exemplo@exemplo.com.br" required autofocus>
        </div>

        <!-- Campo Senha -->
        <div class="form-field">
            <label for="id_password">Senha</label>
            <input type="password" id="id_password" name="password" placeholder="Digite sua senha de segurança" required>
        </div>

        <!-- Link para Esqueceu a Senha -->
        <div class="form-field">
            <a  id="forgot-password">
                Esqueceu a senha?
            </a>
        </div>

        <!-- Botão de Login -->
        <div id="login-button-sign-in">
            <button type="submit">Entrar</button>
        </div>
    </form>

    <!-- Link para Cadastro -->
    <div>
        <a href="{% url 'cadastro' %}" id="login-to-register">
            Não possui conta? Registre-se
        </a>
    </div>
</div>

{% endblock %}
