{% extends 'base/base.html' %}

{% load static %}

{% block content %}
<div id="register-block">
    <h2>Cadastro ao sistema</h2>

    <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        
        <!-- Campo Nome -->
        <div class="form-field">
            <label for="username">Nome</label>
            <input type="nome" id="username" name="username" placeholder="Digite seu nome completo" required>
        </div>
        
        <!-- Campo Email -->
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email para cadastrar" required>
        </div>

        <!-- Campo Senha -->
        <div class="form-field">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha de segurança" required>
        </div>

        <!-- Botão de Cadastro -->
        <div id="login-button-sign-in">
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <!-- Link para Login -->
    <div>
        <a href="{% url 'login' %}" id="login-to-register">
            Já possui conta? Faça o login
        </a>
    </div>
</div>

{% endblock %}
